# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# expo
.expo/
*.jks
*.p12
*.key
*.mobileprovision

# native build folders
android/
ios/App/build/
ios/DerivedData/
ios/**/xcuserdata/
ios/**/DerivedData/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
.env.production

# typescript
*.tsbuildinfo
.vercel

# AI assistant files
.gemini/

# CodeMagic
build/
*.ipa
*.xcarchive
